body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

a{
	color: inherit;
	text-decoration: inherit;
}

.my-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.my-col{
	flex: 1 1 0;
}

.my-col-1{
	flex: 1 1 0;
}

.my-col-2{
	flex: 2 1 0;
}

.my-col-3{
	flex: 3 1 0;
}

.my-col-4{
	flex: 4 1 0;
}

.my-col-5{
	flex: 5 1 0;
}

.my-col-6{
	flex: 6 1 0;
}

.my-col-7{
	flex: 7 1 0;
}

.my-col-8{
	flex: 8 1 0;
}

.my-col-9{
	flex: 9 1 0;
}

.my-col-10{
	flex: 10 1 0;
}

.my-col-11{
	flex: 11 1 0;
}

.my-col-11{
	flex: 11 1 0;
}